h1 {
font-size: 70px
}

h2 {
font-size: 25px
}

h3 {
font-size: 20px
}

body {
background-color: #009DFF;
font-family: 'Dosis', sans-serif;

}

#tobuy {
  color: Black;
   width: 800px;
   height: 800px;
   margin: auto;
   position: relative;
   max-width: 100%;
   max-height: 100%;
   overflow: auto;
}

#desc {
   color: Black;
   width: 300px;
   margin: auto;
   position: relative;
   text-align: left;
   max-width: 100%;
   max-height: 100%;
   overflow: auto;
}

#formtobuy {
   color: Black;
   text-align: center;
   width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px; /* połowa szerokości */
    margin-top: -100px;  /* połowa wysokości */
}
  
